header {text-align: center; background-color: rgb(197, 197, 197); border-style: dashed solid;}
a {color: black; font-weight: bolder;}
.visited {color: #e500ed;}
p {font: 16px;}
img {width: 150px; padding: 10px;}
nav {padding: 10px;}